header {
    margin: 0;
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    text-align: center;
}
h1 {
    margin: 0;
    color: rgb(255, 255, 255);
}
main {
    margin: 10px 10px;

    #parent{
        display: flex;
        justify-content: center;
    }
    .contents p:nth-of-type(2) p::first-letter{
        border: solid 3px rgb(238, 204, 204);
        flex-basis: 25%;
        padding: 10px 15px;
        margin: 20px 0;
        text-align: center;
        color: rgb(97, 206, 249);
        background-image: ;
    }
    h2{
        font-size: 25px;
        border-bottom: dotted 3px rgb(236, 111, 122);
    }
    h2 ::before{
        content: "ãƒ»";
        color: rgb(239, 122, 139);
    }
}
body{
    margin: 0;
}
p {
    margin: 0;
    font-size: 20px;
}

footer{
    background-color: rgb(255, 255, 255);
    text-align: center;
    a:link {
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    a:visited {
        color: rgb(193,234,251);
    }
    a:hover {
        color: rgb(245, 178, 168);
    }
}
@media screen and (min-width:768px) {
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 25px;
    }
    .parent {
        display: inline;
    }
} 
